<style>
  .author-compact {
    display: flex;
    align-items: center;
    padding: 0.8em 0;
    margin: 0.5em 0;
    gap: 1em;
  }
  .author-compact .author-avatar-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .author-compact .author-info {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  .author-compact .author-username {
    font-weight: 600;
    margin: 0;
    font-size: 0.95em;
  }
  .author-compact .author-bio {
    margin: 0;
    font-size: 0.85em;
    opacity: 0.8;
  }
</style>

<section class="author-compact">
  <img class="author-avatar-small" src="{{ site.baseurl }}{{ site.author.avatar }}" alt="{{ site.author.username }}" />
  <div class="author-info">
    <p class="author-username">{{ site.author.username }}</p>
    <p class="author-bio">{{ site.author.bio }}</p>
  </div>
</section>