<div class="navbar" role="navigation">
  <nav class="menu">
    <div class="nav-left">
      <a href="/" class="site-title">tokenfiend</a>
    </div>
    <div class="nav-right">
      {%- assign url = page.url -%}
      {%- assign menus = site.data.menus -%}
      {%- if menus %}
        {%- for menu in menus -%}
          {%- if url == menu.url -%}
            <a class="menu-link active" href="{{ menu.url }}">{{ menu.title }}</a>
          {%- else -%}
            {%- if menu.external -%}
              <a
                class="menu-link"
                href="{{ menu.url }}"
                target="_blank"
                rel="noopener"
                >{{ menu.title }}</a
              >
            {%- else -%}
              <a class="menu-link" href="{{ menu.url }}">{{ menu.title }}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        <a class="menu-link {% if url == '/' %}active{% endif %}" href="/">home</a>
        <a class="menu-link {% if url == '/about/' %}active{% endif %}" href="/about">about</a>
      {%- endif -%}
      <a id="mode" class="mode-toggle">
        <svg
          class="mode-sunny"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="currentColor"
          stroke="none"
        >
          <title>Switch to light mode</title>
          <circle cx="12" cy="12" r="9" />
        </svg>
        <svg
          class="mode-moon"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
        >
          <title>Switch to dark mode</title>
          <circle cx="12" cy="12" r="9" stroke-width="2" />
        </svg>
      </a>
    </div>
  </nav>
</div>
