<div class="navbar" role="navigation">
  <nav class="menu">
    <div class="nav-left">
      <a href="/" class="site-title">tokenfiend</a>
    </div>
    <div class="nav-right">
      {%- assign url = page.url -%}
      {%- assign menus = site.data.menus -%}
      {%- if menus %}
        {%- for menu in menus -%}
          {%- if url == menu.url -%}
            <a class="menu-link active" href="{{ menu.url }}">{{ menu.title }}</a>
          {%- else -%}
            {%- if menu.external -%}
              <a
                class="menu-link"
                href="{{ menu.url }}"
                target="_blank"
                rel="noopener"
                >{{ menu.title }}</a
              >
            {%- else -%}
              <a class="menu-link" href="{{ menu.url }}">{{ menu.title }}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        <a class="menu-link {% if url == '/' %}active{% endif %}" href="/">home</a>
        <a class="menu-link {% if url == '/about/' %}active{% endif %}" href="/about">about</a>
      {%- endif -%}
      <a id="mode" class="mode-toggle">
        <svg
          class="mode-sunny"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 512 512"
          fill="none"
          stroke="currentColor"
        >
          <title>Switch to dark mode</title>
          <line
            x1="256"
            y1="48"
            x2="256"
            y2="96"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="256"
            y1="416"
            x2="256"
            y2="464"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="403.08"
            y1="108.92"
            x2="369.14"
            y2="142.86"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="142.86"
            y1="369.14"
            x2="108.92"
            y2="403.08"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="464"
            y1="256"
            x2="416"
            y2="256"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="96"
            y1="256"
            x2="48"
            y2="256"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="403.08"
            y1="403.08"
            x2="369.14"
            y2="369.14"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <line
            x1="142.86"
            y1="142.86"
            x2="108.92"
            y2="108.92"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
          <circle
            cx="256"
            cy="256"
            r="80"
            stroke-linecap="round"
            stroke-miterlimit="10"
            stroke-width="32"
          />
        </svg>
        <svg
          class="mode-moon"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 512 512"
          fill="none"
          stroke="currentColor"
        >
          <title>Switch to light mode</title>
          <path
            d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
        </svg>
      </a>
    </div>
  </nav>
</div>
